body {
  background: #E8E8E8;
}

header {
  background-color: #967272;
}

img.logo {
  display: inline-block;
  height: 100px;
  margin-left: 2%;
}

div.title {
  display: inline-block;
  position: relative;
  margin-left: 0px;
  padding: 1%;
  width: 50%;
}

div.extranav {
  display: inline-block;
  float: right;
  text-align: right;
  padding: 1%;
}

div.extranav > a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

div.title > h1 {
  font-family: serif;
  letter-spacing: 2px;
  font-size: 250%;
  text-shadow: 1px 1px #2F4F4F;
}

div.title > h2 {
  font-family: 'Arapey', serif;
  text-shadow: 1px 1px #2F4F4F;
}

div.title > h1, div.title > h2 {
  font-weight: bold;
  margin-left: 2%;
  color: white;
  cursor: hand;
  cursor: pointer;
}

nav.header {
  clear: right;
  background-color: #2F4F4F;
  padding: 2%;
  text-align: center;
  margin-right: 0px;
}

nav > a {
  color: white;
  font-size: large;
  text-decoration: none;
  border-left: 1px solid white;
  padding: 2%;
}

nav > a:last-of-type {
  border-right: 1px solid white;
}

main {
  padding: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

section.home {
  background: white;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 2%;
  width: 18%;
  margin-left: 2%;
  text-align: center;
  box-shadow: 3px 3px 1px #2F4F4F;
}

img.home {
  max-width: 100%;
  border: 2px solid #2F4F4F;
  border-radius: 50%;
}

form.login > input {
  border: 1px solid black;
}

.about {
    background: white;
    padding: 1%;
}

article.about {
  display: inline-block;
  position: relative;
  width: 40%;
}

img.about {
  background: white;
  display: inline-block;
  position: relative;
  width: 50%;
  margin-left: 5%;
}

footer {
  background-color: #2F4F4F;
  text-align: center;
  padding: 2%;
  margin-right: 0px;
  margin-left: 0px;
}

footer > a {
  color: white;
  font-size: large;
  text-decoration: none;
  padding: 10px;
}

/*input {
  display: block;
}*/

@media screen and (max-width: 850px) {
  section.home {
    display: block;
    width: 80%;
    margin-bottom: 10px;
  }
}

.required {
  color: red;
}

.your-animals {
  border-top: 5px solid #2F4F4F;
  padding: 1%;
  text-align: center
}

.followed-animals {
  border-top: 5px solid #2F4F4F;
  padding: 1%;
  text-align: center
}

div.animal {
  background: white;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 2%;
  width: 18%;
  margin-left: 2%;
  margin-top: 2%;
  text-align: center;
  box-shadow: 3px 3px 1px #2F4F4F;
  cursor: pointer;
}

img.animal {
  max-width: 100%;
  border: 2px solid #2F4F4F;
  border-radius: 50%;
}

.status {
  font-weight: bold;
}