<!-- form for registering new user -->
<div>
  <form class="register_form" action="/users" method="POST">
    <label for="first_name"><span class="required">*</span>First Name:</label>
    <input type="text" name="user[first_name]">

    <label for="last_name"><span class="required">*</span>Last Name:</label>
    <input type="text" name="user[last_name]">

    <label for="email"><span class="required">*</span>Email:</label>
    <input type="text" name="user[email]">

    <label for="zip_code"><span class="required">*</span>Zip Code:</label>
    <input type="text" name="user[zip_code]">

    <label for="password"><span class="required">*</span>Password:</label>
    <input type="password" name="user[password]">

    <label for="password"><span class="required">*</span>Confirm Password:</label>
    <input type="password" name="password_confirmation">

    <input type="submit" name="Register">
    <p>After successfully registering you will be redirected to the homepage to login.</p>
  </form>
</div>