<div class="about">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>

  <form action="/animals/new" method="GET">
    <input type='submit' value="Add Animal">
  </form>

  <h2>Your Animals</h2>
    <ul>
    <% @user.animals.each do |animal| %>
      <li><%= animal.name %></li>
    <% end %>
    </ul>

  <h2>Animals You Follow</h2>
    <ul>
      <% @user.followed_animals.each do |animal| %>
        <li><%= animal.name %></li>
      <% end %>
    </ul>
</div>