<div class="animal" id="<%= animal.id %>">
  <img class="animal" src="/animal_images/Leopold.jpg" alt="Peacock in November">
  <h2><%= animal.name %></h2>
  <p>Status: <span class="status"><%= animal.status.status %></span></p>
</div>