<section class="about">
  <article class="about">
    <h1>About Follow Animals</h1>
      <p>Follow Animals is a nonprofit dedicated to supporting domestic animals and their caretakers. Inspired by social networking sites, Follow Animals enables people to:</p>
      <ul>
        <li>Create an individualized page for their animal;</li>
        <li>Follow animals they care about;</li>
        <li>Receive a notification if the animal ever needs help.</li>
      </ul>
      <p>If the animal ever needs assistance--a new home, a sitter, a search party, or help funding a medical procedure--its friends and other animal lovers can be notified, giving the animal a whole support system to tap for love, resources, and human ingenuity.</p>
      <p>Maybe the animal is a horse you took riding lessons on as a kid. Maybe it's the cat you had to leave behind when you moved overseas. Maybe you raise alpacas or show dogs and want a streamlined system for keeping tabs on the sold babies. Maybe you run an animal rescue and want to be notified if one of your adopted animals ever needs a new home.</p>
      </p>Our animals depend on us to advocate for them in a world they can't navigate alone. Give animals the security of a support system.</p>
    </article>
  <img class="about" src="animal_images/Sparky_tall_grass.jpg"
</section>
