<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <link rel="shortcut icon" href="critterprint.png"/>
  <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet' type='text/css'>

  <title>Follow Animals - About</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <header>
    <img class="logo" src="critterprint.png">
    <div class="title">
      <h1>Follow Animals</h1>
      <h2>A Social Network & Safety Net for Animals</h2>
    </div>
    <div class="extranav">
      <% if logged_in? %>
        <a href='users/<%= session[:user_id] %>'><%= current_user.email %></a> /
        <a href='sessions/<%= session[:user_id] %>'>Logout</a>
      <% else %>
        <a href="/">Sign In</a> /
        <a href="/users/new">Register</a>
      <% end %>

    </div>
    <nav class="header">
      <a href="/">Home</a>
      <a href="/about.html">About</a>
      <a href="/">Your Stories</a>
      <a href="/">Help Animals</a>
      <a href="/">Magazine</a>
      <a href="/">Contact</a>
      <a href="/">Donate</a>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <a href="/">Home</a>
    <a href="/">About</a>
    <a href="/">Jobs</a>
    <a href="/">Donate</a>
    <a href="/">Contact</a>
  </footer>
</body>
</html>
